<p id="notice"><%= notice %></p>

<p>
  <strong><%= link_to_if(@ripple.url.present?, @ripple.name, 
                        @ripple.url, 
                        :target => "_blank") %>
              said:</strong>
</p>
<div>
  <%= simple_format(@ripple.message, {}, wrapper_tag: "blockquote") %>
</div>
<%= link_to 'Back', root_path %>
