<p id="notice"><%= notice %></p>

<p>
  <strong><%= link_to_if(@ripple.url.present?, @ripple.name, 
                        @ripple.url, 
                        :target => "_blank") %>
              said:</strong>
</p>

<p>
  <blockquote><%= @ripple.message %></blockquote>
  
</p>

<%= link_to 'Back', ripples_path %>
