// Place all the styles related to the Ripples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ripples {
  table {
    width: 80%;
  }
  th {
    background-color: white;
    line-height: 0.3em;
    padding-bottom: 0.75em;
  }
  td {
    padding: 0.5em;
    margin: 0;
  }
  tr:nth-child(odd) {
    background-color: lightskyblue;
  }
  strong {
    font-family: monospace;
  }
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid dodgerblue;
    font-size: 2em;
    font-family: serif; 
    margin: 1.5em 30px;
    padding: 0.5em 10px;
    line-height: 1em;
    quotes: "\201C""\201D""\2018""\2019";
    p {
      display: inline;
    }
  }
  blockquote:before {
    color: dodgerblue;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.3em;
  }
  .ripple {
    background-position: center;
    transition: background 0.5s;
    &:hover {
      background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
    }
    &:active {
      background-color: dodgerblue;
      background-size: 100%;
      transition: backgrond 0s;
    }
  }
}
