// Place all the styles related to the Ripples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ripples {
  table {
    width: 80%;
  }
  th {
    background-color: white;
    line-height: 0.3em;
    padding-bottom: 0.75em;
  }
  td {
    padding: 0.5em;
    margin: 0;
  }
  tr:nth-child(odd) {
    background-color: lightskyblue;
  }
  strong {
    font-family: monospace;
  }
  blockquote {
    font-size: 2em;
    font-family: serif; 
    padding: 0.5em 0;
    line-height: 1em;
  }
}
